In [42]:
from sklearn.datasets import load_boston
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

boston = load_boston()

bostonDF = pd.DataFrame(boston.data, columns=boston.feature_names)
bostonDF.head(3)
bostonDF[boston.feature_names.tolist()] = \
    MinMaxScaler().fit_transform(bostonDF[boston.feature_names.tolist()])
bostonDF.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466

In [43]:
def visualize_cluster_plot(clusterobj, dataframe, label_name, iscenter=True):
    if iscenter :
        centers = clusterobj.cluster_centers_
        
    unique_labels = np.unique(dataframe[label_name].values)
    markers=['o', 's', '^', 'x', '*','P','D','H','v','>','<']
    isNoise=False

    for label in unique_labels:
        label_cluster = dataframe[dataframe[label_name]==label]
        if label == -1:
            cluster_legend = 'Noise'
            isNoise=True
        else :
            cluster_legend = 'Cluster '+str(label)
        
        plt.scatter(x=label_cluster['ftr1'], y=label_cluster['ftr2'], s=70,\
                    edgecolor='k', marker=markers[label], label=cluster_legend)
        
        if iscenter:
            center_x_y = centers[label]
            plt.scatter(x=center_x_y[0], y=center_x_y[1], s=250, color='white',
                        alpha=0.9, edgecolor='k', marker=markers[0])  #label
            plt.scatter(x=center_x_y[0], y=center_x_y[1], s=70, color='k',\
                        edgecolor='k', marker='$%d$' % label)
    if isNoise:
        legend_loc='upper center'
    else: legend_loc='upper right'
    
    plt.legend(loc=legend_loc)
    plt.show()

In [48]:
pca_transformed

array([[-0.56901174,  0.15624157],
       [-0.4387289 ,  0.25198683],
       [-0.53943991,  0.14272823],
       ...,
       [-0.17938468,  0.39741473],
       [-0.18041216,  0.38620851],
       [-0.19381269,  0.35298448]])

In [52]:
from sklearn.mixture import GaussianMixture

gmm = GaussianMixture(n_components=7, random_state=0).fit(bostonDF)
gmm_cluster_labels = gmm.predict(bostonDF)
clusterDF = pd.DataFrame()
clusterDF['gmm_label'] = gmm_cluster_labels

from sklearn.decomposition import PCA

pca = PCA(n_components=2)
pca_transformed = pca.fit_transform(boston.data)

clusterDF['ftr1'] = pca_transformed[:,0]
clusterDF['ftr2'] = pca_transformed[:,1]

In [53]:
clusterDF

     gmm_label      ftr1      ftr2
0            4 -0.569012  0.156242
1            6 -0.438729  0.251987
2            6 -0.539440  0.142728
3            6 -0.661488 -0.020057
4            6 -0.621877  0.027480
..         ...       ...       ...
501          3 -0.229127  0.295395
502          3 -0.197782  0.341111
503          3 -0.179385  0.397415
504          3 -0.180412  0.386209
505          3 -0.193813  0.352985

[506 rows x 3 columns]