# 데이터 프레임과 리스트, 딕셔너리 ndarray 상호 변환

In [5]:
import numpy as np
import pandas as pd

col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1)

array1

df_list1 = pd.DataFrame(data = list1, columns = col_name1)
print(df_list1)
df_array1 = pd.DataFrame(data = array1, columns = col_name1)
print(df_array1)

   col1
0     1
1     2
2     3
   col1
0     1
1     2
2     3

In [10]:
col_name2 = ['col2','col2','col3']

list2 = [[1,2,3],[11,12,3]]
# list2 = [[1,2,3]]

array2 = np.array(list2)

df_list2 = pd.DataFrame(data = list2, columns = col_name2)
print(df_list2)
df_array2 = pd.DataFrame(data = array2, columns = col_name2)
df_array2

   col2  col2  col3
0     1     2     3
1    11    12     3

   col2  col2  col3
0     1     2     3
1    11    12     3

In [13]:
dicts = {'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict = pd.DataFrame(data = dicts)
df_dict

   col1  col2  col3
0     1     2     3
1    11    22    33

In [20]:
array3 = df_dict.values
print(array3.shape,'\n',array3)

(2, 3)
 [[ 1  2  3]
 [11 22 33]]

In [23]:
list3 = df_dict.values.tolist()
print(type(list3), list3)

<class 'list'> [[1, 2, 3], [11, 22, 33]]

In [29]:
dict3 = df_dict.to_dict
dict3
#인덱스 값, 인덱스 값으로 도출됨

df_dict.to_dict('list') #원래 만들었던 형태의 dict 으로 변환

{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

### 인덱스 추출

In [ ]:
#.index
#.index.values
#reset_index() -> 기존의 인덱스는 새로운 칼럼으로 추가됨